[Unit]
Description=AdSweep LED controller python program

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/adsweep-led
ExecStart=python /home/pi/adsweep-led/led.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
