[Unit]
Description=AdSweep LED controller python program

[Service]
Type=simple
User=pi
WorkingDirectory=/etc/adsweep
ExecStart=python /etc/adsweep/led.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
