[Unit]
Description=AdSweep LED controller Bash script

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/adsweep-led
ExecStart=adsweep-led
Restart=on-failure

[Install]
WantedBy=multi-user.target
