[Unit]
Description=AdSweep LED controller Bash script

[Service]
Type=simple
User=pi
WorkingDirectory=/etc/adsweep
ExecStart=/etc/adsweep/led.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
